<table> High Scores
  <tr>
    <td>On-Beat</td>
    <td>Double-Time</td>
    <td>Quad-Time</td>
  </tr>
  <tr>
    <td>
      <ol>
        {{#each this.slow}}
          <li> {{email}} -- {{slow_score}} </li>
        {{/each}}
      </ol>
    </td>
    <td>
      <ol>
        {{#each this.medium}}
          <li> {{email}} -- {{medium_score}} </li>
        {{/each}}
      </ol>
    </td>
    <td>
      <ol>
        {{#each this.fast}}
          <li> {{email}} -- {{fast_score}} </li>
        {{/each}}
      </ol>
    </td>
  </tr>
</table>
