<div class="container-fluid leaderboard">
  <h2 class="titleFont">High Scores</h2>
  <div class="row">
    <div class="col-md-4 score-box slow-scores">
      <h2>1x</h2>
      <div class="user-scores">
        <ol>
          {{#each this.slow}}
          <li> {{email}} <p class="scoreNum">{{slow_score}}</p> </li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="col-md-4 score-box medium-scores">
      <h2> 2x </h2>
      <div class="user-scores">
        <ol>
          {{#each this.medium}}
          <li> {{email}} <p class="scoreNum">{{medium_score}}</p> </li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="col-md-4 score-box fast-scores">
      <h2> 4x </h2>
      <div class="user-scores">
        <ol>
          {{#each this.fast}}
          <li> {{email}} <p class="scoreNum">{{fast_score}}</p> </li>
          {{/each}}
        </ol>
      </div>
    </div>
</div>
