<div class="container-fluid leaderboard">
  <h2>High Scores</h2>
  <div class="row">
    <div class="col-md-4 score-box slow-scores">
      <h3>1x</h3>
      <div>
        <ol>
          {{#each this.slow}}
          <li> {{email}} -- {{slow_score}} </li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="col-md-4 score-box medium-scores">
      <h3> 2x </h3>
      <div>
        <ol>
          {{#each this.medium}}
          <li> {{email}} -- {{medium_score}} </li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="col-md-4 score-box fast-scores">
      <h3> 4x </h3>
      <div>
        <ol>
          {{#each this.fast}}
          <li> {{email}} -- {{fast_score}} </li>
          {{/each}}
        </ol>
      </div>
    </div>
</div>
