<table class="container-fluid">
  <thead>High Scores</thead>
  <tbody class="row">
    <tr class="col-md-4 slow-scores">
      <td>1x</td>
      <td>
        <ol>
          {{#each this.slow}}
          <li> {{email}} -- {{slow_score}} </li>
          {{/each}}
        </ol>
      </td>
    </tr>
    <tr class="col-md-4 medium-scores">
      <td> 2x </td>
      <td>
        <ol>
          {{#each this.medium}}
          <li> {{email}} -- {{medium_score}} </li>
          {{/each}}
        </ol>
      </td>
    </tr>
    <tr class="col-md-4 fast-scores">
      <td> 4x </td>
      <td>
        <ol>
          {{#each this.fast}}
          <li> {{email}} -- {{fast_score}} </li>
          {{/each}}
        </ol>
      </td>
    </tr>
  </tbody>
</table>
